:root{
    --black: #191919;
    --red: #530a16;
    --green: #BED754;
    --orange: #E3651D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: var(--black);
    color: var(--green);
}
header{
    background-color: var(--red);
    min-height: 50px;
    padding: 20px;
    color: var(--green);
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.void{
    margin-right: auto;
}
.session{
    color: var(--green);
    float: right;
}
.logo{
    margin-right: auto;
    max-width: 150px;
}
.problem-select{
    color: var(--green);
}

.terminal-input {
    background-color: var(--black); /* Dark background for the input */
    color: var(--green); /* Green text for terminal-like appearance */
    margin: 8px;
    outline: none;
    caret-color: var(--green); /* Green blinking cursor */
    border-color: var(--green);
    border-top: none;
    border-left: none;
    border-right: none;
}
.terminal-button {
    background-color: var(--black); /* Dark background for the input */
    color: var(--green); /* Green text for terminal-like appearance */
    margin: 8px;
    padding: 8px;
    border-radius: 24px;
}
.terminal-button:hover {
    background-color: black;
}