:root{
    --black: #191919;
    --red: #530a16;
    --green: #BED754;
    --orange: #E3651D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: var(--black);
    color: var(--green);
}
header{
    background-color: var(--red);
    min-height: 50px;
    padding: 20px;
    color: var(--green);
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.session{
    color: var(--green);
    float: left;
}
.logo{
    margin-right: auto;
    max-width: 150px;
}
.problem-select{
    color: var(--green);
}